@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #ff0256;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 2rem 0;
  transition: all 0.9s ease;
  text-align: center;
}

h3 {
  margin-top: 2rem;
  transition: all 0.9s ease;
}

h1 ~ h3 {
  margin-top: 0;
  transition: all 0.9s ease;
}

.win-draw {
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #272727;
  color: #eee;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.board {
  background: transparent;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 1s ease;
}

.squares:hover {
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.squares:focus {
  outline: none;
}

.X {
  color: white;
}
.O {
  color: yellow;
}

.colored {
  background-color: #0336ff;
}

.link {
  border: rgba(50, 50, 50, 0.8) solid 2px;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #979797;
  color: #272727;
}

@media only screen and (max-width: 600px) {
   
  h1 {
     margin: 1rem 0;
   }
  
  h3 {
    margin-top: 1rem;
  }
  
  .win-draw {
    margin-top: 0.5rem;
    font-size: 0.6rem;
    padding: 0.3rem;
    border-radius: 3px;
  }
  
  .board {
    width: 200px;
    height: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.5rem;
  }

  .squares {
    border: 1.2px solid white;
    border-radius: 0.8rem;
    font-size: 2rem;}
  
  .squares:hover {
    border: 2px solid white;
  }
}

/* For second game */

.container-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-container {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-container button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  margin-right: 2rem;
  margin-left: 2rem;
}


.icon {
  font-size: 3rem;
  margin-right: 10px;
}

.icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;

}

.items-container + .choosen-container {
  margin-top: 50px;
}

.choosen-container {
  margin-top: 20px;
  font-size: 20px;
  width: 400px;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.9s ease;
}

.choosen-container .icon {
  font-size: 24px;
}

.choosen-container .icon:hover {
  transform: scale(1);
}

.btn-restart {
  background-color: rgb(115, 137, 168);
  margin-top: 30px;
  width: 80px;
  height: 30px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.btn-restart:hover {
  background-color: rgb(210, 210, 210);
  
}

.btn-restart:active {
  transform: scale(0.96);
}

@media screen and (max-width: 600px) {
  .items-container {
    width: 100px;
  }
  
  .items-container button {
    font-size: 16px;
  }
  
  .small-container {
    flex-direction: column;
  }

  .icon {
    font-size: 2rem;
    margin-right: 8px;
  }
  
  .items-container + .choosen-container {
    margin-top: 40px;
  }
  
  .choosen-container {
    margin-top: 14px;
    font-size: 14px;
    width: 200px;
  }
  
  .choosen-container .icon {
    font-size: 16px;
  }

  
  .btn-restart {
    margin-top: 30px;
    width: 50px;
    height: 20px;
    border-radius: 3px;
    font-size: 0.8rem;
  }
}